paper-card(heading="{{ 'auth.loginTitle' | i18n }}")
  .card-content
    form(name="loginForm", ng-submit="ctr.save(model, loginForm, $event)")
      .form-group
        label(for='login') {{ 'auth.login' | i18n }}
        input#login.form-control(type='text', placeholder="{{ 'auth.login' | i18n }}", ng-model='model.login', ng-required="true")
      .form-group
        label(for='password') {{ 'auth.password' | i18n }}
        input#password.form-control(type='password', placeholder="{{ 'auth.password' | i18n }}", ng-model='model.password', ng-required="true")
      .card-actions
        button.btn.btn-primary(type='submit', ng-disabled="!(loginForm | allowSave:ctr.model:ctr.originModel)") {{'common.loginBtn' | i18n}}
