<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyTarget</title>
</head>
<body>
    @RenderBody()
    <script src="~/lib/react/react.js"></script>
    <script src="~/lib/react/react-dom.js"></script>
    <script src="~/bundle.js" asp-file-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
